Hello… <a href="<%= nameUrl('your-name-here') %>">your-name-here</a>.

<form action="/hello" enctype="multipart/form-data" method="post">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="file" name="uploads" multiple="multiple"><br>
    <input type="submit" value="Subir">
</form>
